<p>
    This is a Razor view from a standard controller. Click <a href="/app">here</a> to go to the React app.
</p>
<p>
    Check Startup.cs to see how the routes are configured. The "fallback" path ensures that requests to /app/* 
    go to the React app, which serves up physical file wwwroot/index.html.
</p>